<div class="A20padding">
    <div class="dflex AIcenter">
        <a routerLink="/homescreen">
            <svg width="38" height="24" viewBox="0 0 38 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 12H5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 19L5 12L12 5" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>

        </a>
        <span class="xxl_size boldtext lr15padding AScenter">Top Feed module</span>
        <span class="divide"></span>
        <div class="AScenter">
            <button mat-button [routerLink]=""
                class="s_size semiboldtext purple_background normallineheight tb5padding l15padding r15padding White_txt">
                <mat-icon class="xml_size">add</mat-icon>
                Add Slide
            </button>
        </div>
    </div>

    <!-- slides -->

    <div class="t50margin">
        <div mat-button routerLink="/feedsection"
            class="Aborder dflex AIcenter A15padding A5radius cursor_pointer M90width b20margin">
            <div class="dflex AIcenter">
                <div>
                    <svg width="43" height="40" viewBox="0 0 43 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="41.1053" height="39" rx="4.5" fill="white" stroke="#8111E8" />
                        <path
                            d="M28.0702 25.2632C28.0702 25.6354 27.9224 25.9924 27.6592 26.2556C27.396 26.5188 27.039 26.6667 26.6667 26.6667H15.4387C15.0664 26.6667 14.7094 26.5188 14.4462 26.2556C14.183 25.9924 14.0352 25.6354 14.0352 25.2632V15.4386C14.0352 15.0664 14.183 14.7094 14.4462 14.4462C14.7094 14.183 15.0664 14.0351 15.4387 14.0351H18.9474L20.3509 16.1404H26.6667C27.039 16.1404 27.396 16.2882 27.6592 16.5514C27.9224 16.8146 28.0702 17.1716 28.0702 17.5439V25.2632Z"
                            stroke="#8111E8" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M21.0527 19.6491V23.8597" stroke="#8111E8" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M18.9473 21.7544H23.1578" stroke="#8111E8" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="l_size regulartext l15margin">
                    Slide 1ghhhg
                </div>
            </div>
            <span class="divide"></span>
            <div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 12H19" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12 5L19 12L12 19" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </div>
        </div>
    </div>

</div>