<div class="A20padding">
    <div class="l_size b15padding t20padding">
        <span class="boldtext AScenter">Overview</span>
    </div>
    <div class="dflex JCspace">
        <div class="card">
            <div>
                <div class="gray_txt">
                    Total number of stores
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="gray_txt">
                    Total number of users
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="gray_txt">
                    Total number of Orders
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
    </div>


    <div class="dflex JCspace t20padding">
        <div class="card">
            <div>
                <div class="gray_txt">
                    Total campaign wallet fund
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="gray_txt">
                    Total store wallet fund
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="gray_txt">
                    Total Earning (Refr)
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
    </div>

    <div class="l_size b15padding t30padding">
        <span class="boldtext AScenter">Stores</span>
    </div>
    <div>
        <div class="card">
            <div class="dflex JCspace">
            <div class="m_size boldtext">
                Total no of Stores
            </div>
            <div>
                See All
            </div>
        </div>
        </div>
        <div>

        </div>
    </div>

    <div class="l_size b15padding t20padding dflex JCspace">
        <span class="boldtext AScenter">Recently added Users</span>
        <a routerLink="/users" class="ViewAll">View All</a>
    </div>

    <div>
        <div>
        </div>
    </div>

    <div class="l_size b15padding t20padding dflex JCspace">
        <span class="boldtext AScenter">Recently added Orders</span>
        <a routerLink="/orders" class="ViewAll">View All</a>
    </div>

    <div>
        <div>
        </div>
    </div>

    <div class="l_size b15padding t20padding dflex JCspace">
        <span class="boldtext AScenter">Recently Redeem Request</span>
        <a routerLink="/Redeemreq" class="ViewAll">View All</a>
    </div>

    <div class="l_size b15padding t20padding dflex JCspace">
        <span class="boldtext AScenter">Recent User Transactions</span>
        <a routerLink="/about" class="ViewAll">View All</a>
    </div>

    <div class="l_size b15padding t20padding dflex JCspace">
        <span class="boldtext AScenter">Recent Merchant Transactions</span>
        <a routerLink="/about" class="ViewAll">View All</a>
    </div>
    <div>
        <div>

        </div>
    </div>
</div>